<div class="background py-5 ">
    <div class="container">
        <div class="row text-center my-5">
           
            <div class="col-4">
                <div class="itme">
                    <h2>LOCATION</h2>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-4">
                <div class="itme">
                    <h2>AROUND THE WEB</h2>
                    <div class="icons d-flex justify-content-center align-items-center ">
                        <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                        <div class="icon"><i class="fa-brands fa-twitter"></i></div>
                        <div class="icon"><i class="fa-brands fa-linkedin"></i></div>
                        <div class="icon"> <i class="fa-solid fa-globe mx-1 icon"></i></div>
                       </div>
                </div>
            </div>                       

            <div class="col-4">
                <div class="itme">
                    <h2>ABOUT FREELANCER</h2>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-part2></app-footer-part2>
 