<div class="layer">
    <div class="container">
        <h2 class=" py-5 text-capitalize text-center">about component
            <div class=" d-flex justify-content-center align-items-center">
             <div class="lay "></div>
             <i _ngcontent-ouu-c6="" class="fa-solid fa-star mx-3 "></i>
             <div class="lay "></div>
            </div>
         </h2>
      
     <div class="d-flex justify-content-center align-items-center px-5 ">
        <p class="me-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>

     </div>
    </div>
</div>