<div class="covar py-5">
    <div class="container">
     
      <h2 class="my-5 text-capitalize text-center">conatct section
        <div class=" d-flex justify-content-center align-items-center">
         <div class="lay "></div>
         <i _ngcontent-ouu-c6="" class="fa-solid fa-star mx-3"></i>
         <div class="lay "></div>
        </div>
     </h2>
        <div class="form-floating mb-3 w-50 mx-auto my-5">
            <input type="email" class="form-control" id="name" placeholder="name@example.com">
            <label for="name">user name </label>
          </div>
          
        <div class="form-floating mb-3 w-50 mx-auto my-5">
            <input type="email" class="form-control" id="name" placeholder="name@example.com">
            <label for="name">user age</label>
          </div>
          
        <div class="form-floating mb-3 w-50 mx-auto my-5">
            <input type="email" class="form-control" id="name" placeholder="name@example.com">
            <label for="name">name email</label>
          </div>
          
        <div class="form-floating  w-50 mx-auto my-5">
            <input type="email" class="form-control" id="name" placeholder="name@example.com">
            <label for="name">name password</label>
          </div>
          
       
         <div class=" w-50 mx-auto my-5">
            <button type="button" class="btn btn-success">send massage</button>

         </div>
    </div>
</div>
