<div class="back py-5">
   
    
    <div class="container ">
        <h2 class="my-5  text-capitalize text-center"><span>portfolio component</span>
            <div class=" d-flex justify-content-center align-items-center">
             <div class="lay "></div>
             <i _ngcontent-ouu-c6="" class="fa-solid fa-star mx-3"></i>
             <div class="lay "></div>
            </div>
         </h2>
        <div class="row">
            <div class="col-sm-12 col-md-6 my-3 col-lg-4 ">
                <div class="photo position-relative" data-bs-toggle="modal" data-bs-target="#photo1">
                  <img src="images/photo1 (6).png" class="w-100" alt="">
                  <div class="layer d-flex flex-column justify-content-center align-items-center ">
                    
                    <i _ngcontent-ouu-c19="" class="text-white fa-solid fa-plus fa-6x"></i>

                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 my-3 col-lg-4 ">
                <div class="photo position-relative" data-bs-toggle="modal" data-bs-target="#photo2">
                  <img src="images/photo1 (7).png" class="w-100" alt="">
                  <div class="layer d-flex flex-column justify-content-center align-items-center ">
                    
                    <i _ngcontent-ouu-c19="" class="text-white fa-solid fa-plus fa-6x"></i>

                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 my-3 col-lg-4 ">
                <div class="photo position-relative" data-bs-toggle="modal" data-bs-target="#photo3">
                  <img src="images/photo1 (8).png" class="w-100" alt="">
                  <div class="layer d-flex flex-column justify-content-center align-items-center ">
                    
                    <i _ngcontent-ouu-c19="" class="text-white fa-solid fa-plus fa-6x"></i>

                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 my-3 col-lg-4 ">
                <div class="photo position-relative" data-bs-toggle="modal" data-bs-target="#photo4">
                  <img src="images/photo1 (6).png" class="w-100" alt="">
                  <div class="layer d-flex flex-column justify-content-center align-items-center ">
                    <i _ngcontent-ouu-c19="" class="text-white fa-solid fa-plus fa-6x"></i>

                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 my-3 col-lg-4 ">
                <div class="photo position-relative" data-bs-toggle="modal" data-bs-target="#photo5">
                  <img src="images/photo1 (7).png" class="w-100" alt="">
                  <div class="layer d-flex flex-column justify-content-center align-items-center ">
                    
                   
                      <i _ngcontent-ouu-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                    
                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 my-3 col-lg-4 ">
                <div class="photo position-relative" data-bs-toggle="modal" data-bs-target="#photo6">
                  <img src="images/photo1 (8).png" class="w-100" alt="">
                  <div class="layer d-flex flex-column justify-content-center align-items-center ">
                    
                    <i _ngcontent-ouu-c19="" class="text-white fa-solid fa-plus fa-6x"></i>

                  </div>
                </div>
            </div>





             <!-- Modal photo1 -->
    <div class="modal fade" id="photo1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="images/photo1 (6).png" alt="" class="w-100">
            </div>
            
          </div>
        </div>
          </div>
      
         <!-- Modal photo2 -->
          <div class="modal fade" id="photo2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="images/photo1 (7).png" alt="" class="w-100">
            </div>
            
          </div>
        </div>
          </div>
         <!-- Modal photo3 -->
          <div class="modal fade" id="photo3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="images/photo1 (8).png" alt="" class="w-100">
            </div>
            
          </div>
        </div>
          </div>
         <!-- Modal photo4 -->
          <div class="modal fade" id="photo4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="images/photo1 (6).png" alt="" class="w-100">
            </div>
            
          </div>
        </div>
          </div>
         <!-- Modal photo5 -->
          <div class="modal fade" id="photo5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="images/photo1 (7).png" alt="" class="w-100">
            </div>
            
          </div>
        </div>
          </div>
         <!-- Modal photo6 -->
          <div class="modal fade" id="photo6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="images/photo1 (8).png" alt="" class="w-100">
            </div>
            
          </div>
        </div>
          </div>
        </div>
    </div>
</div>
