<div class="layer ">
    <div class=" container d-flex justify-content-center align-items-center flex-column">
        <img src="images/photo1.svg" alt="" >
       
        <h2 class="position-relative text-capitalize">start Framework
           <div class="caver d-flex justify-content-center align-items-center">
            <div class="lay "></div>
            <i _ngcontent-ouu-c6="" class="fa-solid fa-star mx-3"></i>
            <div class="layy "></div>
           </div>
        </h2>
       
      
       <p>Graphic Artist - Web Designer - Illustrator</p>

    </div>
</div>